//ADAPTACION PARA DISPOSITIVOS MOVILES 480PX

@media (max-width: 767px) {
  header {
      flex-direction: column;
      align-items: center;
  }

  nav {
      margin-top: 10px;
  }

  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav ul li {
      margin: 10px 0;
  }

          
            nav{
              
            
          
            ul {
              flex-direction: column;
              align-items: center;
            }
          
            li {
              margin: 10px 0;}
            }


           
          }
    .conteinerf a{
      display: flex;
    }
    .about-me p{
      font-size: 12px;
     padding: 20px;
    }
   .sass{
    display: inline-block;
   }
   .item1 .item2 .item3 .item4 {
    padding-top: 20px;
   }
   
  
