@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
header a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 5px #efe6e6;
  transition: text 0.3s ease-in-out;
}
header a:hover {
  text-shadow: 0 0 10px #160a0a;
}
header img {
  margin-left: 80px;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
}
header img:hover {
  transform: rotate(360deg);
}
header h1 {
  margin-right: 600px;
  font-size: 17px;
}
header h2 h3 h4 h5 {
  color: #ffffff;
}
header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 80px;
  justify-content: center; /* Agregue esta propiedad para centrar los elementos */
}
header nav li {
  margin-left: 20px;
  text-align: center; /* Agregue esta propiedad para centrar el texto */
}
header nav a {
  color: #fff;
  text-decoration: none;
  display: block; /* Agregue esta propiedad para que los elementos ocupen todo el ancho del contenedor */
  padding: 10px; /* Agregue un poco de espacio alrededor del texto */
}

.btn {
  height: 100px;
  width: 100px;
  margin: 10px;
}
.btn a {
  padding-bottom: 0px;
  font-size: 2rem;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/pexels-adrien-olichon-2387532.jpg);
}
body section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body section p {
  padding: 40px;
}
body .image-container {
  position: relative;
  width: 800px;
  height: 500px;
  overflow: hidden;
}
body .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
body .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
body .overlay h1 {
  font-size: 3rem;
  margin: 0;
  color: #fff;
}
body .overlay h2 {
  font-size: 20px;
  margin: 0;
  color: #ffffff;
}
body .overlay h3 {
  color: #fff;
}
body .overlay h4 {
  color: #fff;
}
body .overlay h5 {
  color: #ffffff;
}
body .overlay p {
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.546);
}
body .image-container:hover img {
  transform: scale(1.1);
}
body .image-container:hover .overlay {
  opacity: 1;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 200px;
  padding: 20px;
}

.seccion1 {
  background-color: rgba(40, 39, 38, 0.5058823529);
  padding: 50px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-me img {
  width: 350px;
  height: auto;
  margin-bottom: 10px;
}
.about-me h2 {
  font-size: 3rem;
  color: #fafafa;
  margin: 0;
  margin-bottom: 10px;
}
.about-me p {
  font-size: 1.5rem;
  color: #fafafa;
  margin: 0;
}

.sass {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sass h5 {
  background-color: rgba(0, 0, 0, 0.495);
  font-size: 2rem;
  color: #fafafa;
}
.sass p {
  background-color: rgba(0, 0, 0, 0.495);
  font-size: 1rem;
  color: #fafafa;
}

.carousel .carousel-inner .carousel-item {
  border-radius: 10px; /* Agrega bordes redondeados */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.705); /* Agrega sombra en los bordes */
}

/* Estilo para las imágenes en el carrusel */
.carousel .carousel-inner .carousel-item img {
  width: 100%; /* Asegura que las imágenes ocupen todo el ancho */
  height: 1000px; /* Ajusta la altura deseada para las imágenes */
  object-fit: cover; /* Asegura que las imágenes conserven su relación de aspecto */
}

section {
  display: flex;
  flex-wrap: wrap;
}

.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  padding: 80px;
  background-color: rgba(0, 0, 0, 0.5607843137);
}
.contacto form {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
}
.contacto label {
  font-weight: bold;
}
.contacto input,
.contacto textarea {
  width: 100%;
  height: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.contacto button {
  background-color: #007bff;
  color: #171616;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}
footer a {
  margin-right: 60px;
  margin-left: 80px;
  text-decoration: none;
  color: #fff;
}
footer p {
  margin-top: 20px;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #fff;
  text-shadow: 0 0 5px #fff;
  transition: text-shadow 0.3s ease-in-out;
}
footer:hover {
  text-shadow: 0 0 10px #fff;
}
footer .containerf {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .redes-sociales img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

@media (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  nav {
    margin-top: 10px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 10px 0;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav li {
    margin: 10px 0;
  }
}
.conteinerf a {
  display: flex;
}

.about-me p {
  font-size: 12px;
  padding: 20px;
}

body {
  background-color: black;
  color: white; /* Letras en blanco */
  font-family: "Arial", sans-serif; /* Letra formal (cambiar según tus preferencias) */
}

.titleDark {
  font-size: 36px; /* Tamaño del título (cambiar según tus preferencias) */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* Sombras blancas */
  text-align: center; /* Centrar el título horizontalmente */
  margin-top: 100px; /* Margen superior para centrar verticalmente (cambiar según tus necesidades) */
}

.Bodycv {
  background-color: #000000;
  font-family: Arial, sans-serif;
  color: #ffffff;
}
.Bodycv .containerr {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 50px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  padding: 200px;
  background-color: #181616;
}
.Bodycv .headerr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Bodycv .headerr img {
  width: 20rem;
  height: 20rem;
  border-radius: 20%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}
.Bodycv .huno {
  font-size: 40px;
  margin: 0;
}
.Bodycv .puno {
  font-size: 30px;
  margin: 0;
}
.Bodycv .hdos {
  font-size: 30px;
  margin: 0;
}
.Bodycv .uele {
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}
.Bodycv .elei {
  margin-bottom: 35px;
}

.contenedorp {
  display: flex;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.8117647059);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.navbar a {
  color: rgba(255, 255, 255, 0.9607843137);
}

.navuno {
  background-color: #f2f2f2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.navuno ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navuno li {
  margin-right: 20px;
}
.navuno a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.navuno:hover {
  color: #666;
}

.mainp {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.sectionp {
  display: flexbox;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(180, 58, 58);
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33.33% - 20px);
}
.sectionp h2 {
  font-size: 24px;
}
.sectionp img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.sectionp p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

/*# sourceMappingURL=estilos.css.map */
